*{
    margin: 0;
    border: 0;
    padding: 0;
}

nav {
    grid-area:nav;
    height: 5vh;
    background-color: aqua;
}

main {
    grid-area: main;
    height: 88vh;
    background-color: azure;
}

footer {
    grid-area:footer;
    height: 5vh;
    background-color: black;
    color:white
}

aside{
    grid-area:aside;
    background-color: gray;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "aside main"
    "footer footer";
    grid-template-columns: 0.5fr 4fr;

}

.productos{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    column-gap: 5vh;
    row-gap: 2vh;
    margin: 1vh;
}

.Tarjeta{
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto{
    flex-grow: 1;
    background-image: url(../img/Blastoise.jpeg);
    min-width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
