*{
    margin: 0;
    border: 0;
    padding: 0;
}

nav {
    grid-area:nav;
    height: 5vh;
    background-color: #21618C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

section {
    grid-area: section;
    height: 88vh;
    background-color: #ECF0F1;
}

footer {
    grid-area:footer;
    height: 5vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

aside{
    grid-area:aside;
    background-color: #ECF0F1;
    display: flex;
    flex-direction: column;
}

aside p {
    padding-left: 20px;
}

aside span {
    color: blue;
}

.titulo{
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "aside section"
    "footer footer";
    grid-template-columns: 0.5fr 4fr;

}

.productos{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    column-gap: 5vh;
    row-gap: 2vh;
    padding: 1vh;
}

.Tarjeta{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:start;
}

.Descripcion{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.categoria{
    font-family: 'Open Sans', sans-serif;
}

.precio{
    font-family: 'Open Sans', sans-serif;
    margin: 6px;
}

.titulo{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

button{
    font-family: 'Roboto', sans-serif;
    background-color: #21618C;
    color: white;
    width: 100%;
    padding: 5px;
}

aside span{
    color:#979A9A;
    font-weight:bold
}

.foto{
    max-height: 20%;
}
